/*
    ******* COLORS ********

#810000	- RED
#420e07	- DARK RED 
#002907	- GREEN 
#ec8f00	- YELLOW
#292929 - GREY

1 - GENERAL STYLING
2 - HEADER AND FOOTER
3 - LOGIN PAGE
4 - NEW MEMBER LOGIN

******** GENERAL STYLING ********/
@font-face{
    font-family: "DMSansReg";
    src: url(../assets/fonts/DM_Sans/DMSans-Regular.ttf);
}
@font-face{
    font-family: "DMSansBold";
    src: url(../assets/fonts/DM_Sans/DMSans-Bold.ttf);
}

* {
    margin: 0px;
    font-family: 'DMSansReg';
    color: #292929;
}
button {
    border-radius: 4px;
    cursor:pointer;
}
input:hover, select:hover{
    background-color: #f2f2f2;
}
#pageContainer {
    position: relative;
    height: auto;
  }
  .pageContainer{
    margin: auto;
}

/*
.innerContainer {
    position: absolute;
    min-height: 100vh;
    height: auto;
} */

main {
    position: relative;
}
footer {
    position: relative;
}


/******** HEADER AND FOOTER ********/

#headerContainer, #footerContainer {
    background-color: #EC8F00;
    height: 150px;
}
#headerContainer img {
    height: 200px;
    width: auto;
}
#headerContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}
#headerTitles {
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
}
.footer {
    margin-top: 50px;
} 
#footerContainer {
    width: 100%;
    height: auto;  
    margin-top: 50px;
    margin-top: 50px;
}  

.footerTopBanner {
    background-color: #c1c1c1;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#footerInfoContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20% auto 20% auto 20%;
    height: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
    justify-content: center;
}
#footerInfoContainer p {
    color: white;
    font-size: 0.7em;
    line-height: 2em;
}
.footerInfo {
    text-align: center;
}
#footerInfoContainer h3 {
    font-family: "DMSansBold";
    margin-bottom: 20px;
}
#footerInfoContainer a {
    text-decoration: none;
}
#timesContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin-right:30px;
}
.openTimes {
    width: 100%;
    text-align: left;
}
.times {
    text-align: right;
}
.verticalBreak {
    height: 90%;
    width: 1px;
    background-color: #292929;
}
#social{
    margin-top: 10px;
}
#instagram, #twitter, #facebook {
    width: 30px;
    height:30px;
    margin: 10px;
}
#niceTry{
    height: 100vh;
    width: 100%;
    text-align:  center;
    margin-top: 100px;
    background-color: white;
}
#niceTry button {
    border: none;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}
#headerTitles button {
    border: none;
    background-color: #EC8F00;
    font-size: 20px;
}
#headerTitles button:hover {
    color: white;
    text-decoration: underline;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
}   
.allowance {
    background-color: #292929;
    width: 90%;
    height: auto;
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px white;
}
.allowance p {
    color: white;
}
.libraryLogo {
    height: 20px;
    width: auto;
}
.headerImage {
    height: 60px;
    width: auto;
    padding-left: 0px;
}
.alloawnceFigure {
    font-family: "DMSansBold" ;
    color: #EC8F00;
}
#headerContainer {
    display: block;
    margin: 0px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.allowance {
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;   
    box-shadow: none;   
    transform: translate(0px, 14px);       
}
#headerTitles {
    margin-left: 0%;
    margin: auto;
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    width: 100%;      
}
/******** tooltip ********/
.tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #292929;
    color: white;
    box-shadow: 1px 1px white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20%;
    margin-left: 10px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/******** LOGIN PAGE *******/

#memberContainer, #staffContainer, #newMemberContainer{
    display: none;
}
#loginPage {
    display : grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
#loginContainer {
    margin: auto;
    display: grid;
    height: 400px;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    padding-right: 20%;
}
#loginTitle {  
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center; 
}
#loginTypeContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
}
.form input {
    margin-bottom: 10px;
}

.mainLoginContainers form{
    display: grid;
    margin-top: 300px;
    grid-template-columns: 100%;
    width: 300px;
}
#loginBody {
    background-color: #EC8F00;
    margin: 0px;
}
#loginImage{
    width: 100%;
    height: auto;    
}
.loginButtons, .authorButtons button, .addBook{
    width: 100%;
    height : 30px;
    margin-top: 2em;
}
.loginButtons {
    width: 300px;
}
.searchButton {
    width: 30%;
    height: 20px;
}
.searchButton, .loginButtons, .loginButtons:hover, .loginButtons:disabled, .loginButtons:disabled:hover, .addBook:hover, .addBook:disabled{
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.searchButton, .loginButtons, .login, .cancel, .forgot, .addBook {
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
} 
.loginButtons:hover, .login:hover, #userProfileContainer button:hover, .authorButtons button:hover, buttons, .addBook:hover{
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 20px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #292929;	
    border-style: none;
    color: white;
}
.searchButton:hover, .login:hover, .cancel:hover, .forgot:hover, .sortButtons button:hover{
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 20px;
    background-color: #292929; 
    color: white;
} 
.searchAuthor:hover {
    background-color: #c1c1c1;
}
.cancel:hover {
    background-color: #420e07;	
}
#loginBody input {
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.signin {
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 20px;
    border-radius: 4px;  
} 
.input {
    margin-top: 50px;
}
.textError {
    color: #292929;
    background-color: #efefef;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
}
/******** forgotpassword ********/

.forgotContainer {
    padding-top: 250px;
}
.forgotContainer h1 {
    padding-bottom: 20px;
}
.forgotContainer form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.forgotContainer label {
    margin-top: 40px;
}
.forgotContainer input {
    border: solid 1px #292929;
    border-radius: 4px;
    height: 30px;
}
.forgotInput {
    margin-top: 20px;
    margin-bottom: 40px;
}
/******** newAccount.php ********/

.newAccountImage {
    background-image: url(../assets/logo.png);
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #EC8F00;
    display: flex;
    justify-content: center;
}
#newAccountPagContainer{
    height: 100vh;
    display: flex;
    align-items: center;
}
#newAccountContainer {
    background-color: white;
    padding: 5%;
    border-radius: 8px;
    transform: translate(50%);
}
#newAccountContainer h2 {
    margin-bottom: 5%;
}
.userInfo {
    font-family: 'DMSansBold' ;
}

/******** User search ********/
#searchUser {
    width: 80%;
    margin: auto;
}
#searchUser  h2 {
    margin-bottom: 30px;
}
.libraryUsers {
    width: 100%;
    padding-top: 50px;
    height: 100vh;
    background-color: white;
}
.searchUserContainer {
    width: 90%;
    margin: auto;
}
.searchUserContainer th, .selectUserTable th{ 
    font-family: "DMSansBold";
    font-size: 1.5em;
}
.selectUserTable th{
    text-align: left;
}
.tableHeaders h4, .selectUserTable h4{
    margin-bottom: 30px;
}
.searchUserTable {
    text-align: center;
}
.selecteUserDetails {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 50px;
}
.searchUserContainer button{
    margin: auto;
}
/*
.selectUserContainer {
    width: 100%;
    height: 100vh;
    background-color: white;
} */
.selectUserTable{
    width: 90%;
    margin: auto;
}
.nothingCheckedOut {
    height: 100vh;
    width: 90%;
    margin: auto;
}
/******** fine ********/

.container{
    width: 100%;
    background-color: white;
    min-height: 100vh;
    height: auto;
    text-align: center;
}
.container h2 {
    font-family: "DMSansBold";
    padding-top: 50px;
}
/******** events ********/

#eventsAndInfoContainer {
    width: 90%;
    margin: auto;
    height: auto;
    margin-left: 5%;
    text-align: center;
}
#eventsAndInfoContainer h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
#eventsContainer {
    margin-top: 60px;
}
.events {
    text-align: left;
    height: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 5% 80%;
}
.eventsHr{
    margin-bottom: 100px;
    margin-top: 60px;
}
.eventsImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;    
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#scrollDown {
    width: 100%;
}
#scrollDown img {
    width: 30px;
    height: 30px;
}
/******** Search ********/

.searchDatabaseContainer{
    height: 90px;
    width: 100%;
    background-color: #292929;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}
.searchDatabaseContainer form {
    width: 30%;
    display: flex;
}
.searchDatabase input{
    width: 100%;
    height: 30px; 
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}
.searchDatabase button, .searchDatabase img {
    width: 60px;
    height: 32px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
.searchDatabase button {
    background-color: white;
    transform: translate(-4px, 0px);  
}
.searchDatabase img {
    border-radius: 5px;
}
.spacer {
    width: 10%;
}
#seachBook, #searchAuthorForm{
    background-color: #292929;
    display: grid;
    grid-template-columns: 15% 15% 35% 25% 15%;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 40px;
    margin-bottom: 0px;
    margin-top: 2px;
}
#searchAuthorForm {
    margin-bottom: 0px;
    margin-top: 2px;
}
#seachBook label, #searchAuthorForm label {
    grid-column-start: 2;
    grid-column-end: 3;
}
#searchAuthorForm  label {
    color: #c1c1c1;
}
#seachBook {
    background-color: #c1c1c1;
}
#seachBook input, #searchAuthorForm input {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 400px;
    height: 30px;
    margin: 0px 20px;
    border: none;
    border-radius: 5px;
}
#seachBook button, #searchAuthorForm button {
    grid-column-start: 4;
    grid-column-end: 5;
    height: 30px;
    width: 100%;
}
#searchLibraryContainer{
    height: auto;
    width: 100%;
    margin: auto;
    padding-top:50px;
    background-color: white;   
}
.searchTable {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 200px;
    padding: 5%;
    width: 90%;
    margin: auto;
}
.bookImage {
    height: auto;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.searchResultTitle {
    text-align: center;
    padding: 5px
}
.bookSearchTitle, .bookSearchAbout {
    grid-column-start: 2;
    grid-column-end: 3;
}
.bookSearchTitle {
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 5%;
}
.bookSearchAbout {
    grid-row-start: 2;
    grid-row-end: 6;
    margin-left: 5%;
    margin-top: 20px;
    padding: 2%;
    border-radius: 5px;
    overflow: scroll;
    height: 200px;
}
.bookSearchGenre, .bookSearchAge, .bookSearchCheckedin, .bookSearchButton{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}
.bookSearchGenre {
    grid-row-start: 1;
    grid-row-end: 2;
}
.bookSearchAge {
    grid-row-start: 2;
    grid-row-end: 3;
}
.bookSearchCheckedin {
    grid-row-start: 3;
    grid-row-end: 4;
}
.bookSearchButton {
    grid-row-start: 4;
    grid-row-end: 5;
}
.horzontalBreak{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 70%;
}
.organiseSearch div {
    display: flex;
}
.orgnaiseSearchContainer{
    text-align: center;
    height: auto;
    width: 100%;
    background-color: white; 
    padding-bottom: 30px;
}
.orgnaiseSearchContainer h2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.orgnaiseSearchContainer h4 {
    padding-bottom: 20px;
}
.organiseSearch {
    width: auto; 
    padding-left: 10%;
    padding-right: 10%;
    height: auto; 
    margin: auto; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sortImage{
    width: 20px;
    height: auto;
}
.bookInfoTitle {
    font-family: "DMSansBold";
}
.organiseSearch button, .searchbutton{
    border: none;
    border-radius: 4px;
    width: 20px;
    height: auto;
    margin: auto;  
}
.orgnaiseSearchContainer h5 {
    margin-top: 2px;
}
.sortContainer{
   margin-right: 2%;
}
.orgnaiseSearchContainer button {
    background-color: white;
    margin: 10px;
    margin-top: 0px;
}
.searchbutton{
    width: 150px;
    height: 40px;
}
.sortButtons{
    display: inline-flex;
    margin: 5px 20px;
}
.sortHeading{
    font-family: "DMSansBold";
    grid-row-start: 1;
    grid-row-end: 2;
}
.sortTitle, #sortByTitle {
    grid-column-start: 1;
    grid-column-end: 2;
}
.sortAuthor, #sortByAuthor{
    grid-column-start: 2;
    grid-column-end: 3;
}
.sortYear, #sortByYear {
    grid-column-start: 3;
    grid-column-end: 4;
}
.sortGenre, #sortByGenre {
    grid-column-start: 4;
    grid-column-end: 5;
}
.sortAge, #sortByAge {
    grid-column-start: 5;
    grid-column-end: 6;
}
.sortChecked, #isCheckedOut{
    grid-column-start: 6;
    grid-column-end: 7;
}
.bookButtons {
    width: 100%;
}
/******** Authors ********/

#searchAuthorContainer {
    background-color: white;
    width: 100%;
    margin: auto;
    height: auto;
    align-content: center;
    background-color: white;
    border-radius: 5px;  
}
.authorSearchTitle{
    padding: 2%;
    text-align: center;
}
.searchAuthorTableContainer{
    width: 96%;
    padding: 2%;
    height: auto;
    margin: auto;
}
.authorSearchTable span{
    font-family: "DMSansBold" ;
}
.authorSearchTable{
    width: 90%;
    height: 400px; 
    margin: auto;   
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20% 50% auto;
    grid-template-rows: 5% 5% 5% auto 5% 5%;   
}     
.authorImageConatainer{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}
.authorImage{
    width: 100%;
    flex-shrink: 1;
    height: auto;
    border-radius: 5px; 
}
.authorName, .authorAge, .authorGenre, .authorBio{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 20px;
}
.authorName{
    grid-row-start: 1;
    grid-row-end: 2;
}
.authorAge{
    grid-row-start: 2;
    grid-row-end: 3;
}
.authorGenre{
    grid-row-start: 3;
    grid-row-end: 4;
}
.authorBio{
    overflow: hidden;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
   
    transition: height 1s linear;

}
.authorButtons {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.viewMore {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.authorHrBreak {
    width: 80%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
/******** Edit Author ********/

.labelEdit {
    text-align: center;
    font-family: "DMSansBold";
    margin-top: 30px;
    margin-bottom: 10px;
}
.inputEdit{
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #292929;
    padding-left: 5px;
}
.inputEdit:hover{
    border: 1px solid #292929;

}
#authorFormContainer button {
    margin: auto;
    margin-bottom: 20px;
}

/******** edit library ********/
#editLibraryContainer {
    margin: auto;
    margin-top: 50px;
    width: 90%;
}
#editLibraryContainer h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
#editLibraryContainer h2 {
    margin-bottom: 20px;
    margin-top: 40px;
}
/******* Authors books ********/

.authorsBookContainerTitle {
    font-family: "DMSansBold";
    margin: 3%;
    text-align: center;
}
.addButtonForm{
    width: 60%;
    margin: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.addBook{
    height: 30px;
    width: 200px;
    margin: auto;
    margin-top: 3%;
}
.authorsBookContainer{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    text-align: left;
}
.authorsBookContainer th{ 
    font-family: "DMSansBold";
    font-size: 1.5em;
}
.authorBookInfo {
    text-align: center; 
}
/******** Add book *******/

#FormContainerBook, #formContainerAuthor {
    width: 100%;
    display: block;
}
#addBookFormContainer, #authorFormContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}
#formContainerAuthor h2 {
    font-family: "DMSansBold";
    margin: 30px;
    text-align: center;
}
#addBookFormContainer span {
    font-family: "DMSansBold";
} 
#addBookFormContainer h2 {
    font-family: "DMSansReg";
}
#addBookFormContainer button {
    margin: auto;
    margin-bottom: 30px;
}
.inputSignin {
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #212121;
}
.inputSignin:hover {
    background-color: #fafafa;
}
.inputUpload{
    width: 200px;
    margin: auto;
    margin-top:5px;
    margin-bottom: 50px;
}
/******** Edit Books ********/

#editFormContainer {  
    background-color: white;
}
#editFormContainer h2 {
    margin-bottom: 30px;
}
#editFormContainer h4{
    margin-bottom: 30px;
}
#editFormContainer span {
    font-family: "DMSansBold";
}
#editFormContainer label {
    margin-bottom: 10px;
    font-family: "DMSansBold";
}
.editInput {
    height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px #292929;
}
#editFormContainer form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
/******** WARNINGS ********/

.warningContainer {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.warning span {
    color: red;
    font-family: "DMSansBold";
}
#deleteEntry:hover{
    background-color: #810000
}

/******** Cart ********/

#viewCartContainer {
    background-color: #ffffff;
    width: 70%;
    height: auto;
    margin: auto;   
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 200px; 
}
#viewCartContainer h1 {
    text-align: center;
    margin-bottom: 5%;
}
#emptyCartContainer, #fullCartContainer {   
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#emptyCartContainer{
    height: 10vh;
    width: 100%;  
    transform: translate(0px, 200px); 
}
.cartTable {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-top: 40px;  
}
.cartTableForm {
    width: 100%;
}
#emtpyMessage, #fullCartMessage, #authorDoesNotExist{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}
#authorDoesNotExist {
    width: 50%;
    height: 200px;
    margin: auto;
}
.notInLibrary{
    margin-top: 80px;
    width: 300px;
    height: 30px;
}
#userEdit {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
}
#emtpyMessage {
    height: 200px;
}
#emtpyMessage h1, #fullCartMessage h1{
    margin-bottom: 15px;
}
#emtpyMessage p, #fullCartMessage p{
    margin-bottom: 30px;
}
#checkout {
    text-align: center;
    width: 100%;
    margin: auto;   
    margin-top: 40px; 
}
.checkedoutBooks h2{
    margin-bottom: 40px;
    margin-top: 50px;
}    
.checkedoutBooks h3{
    font-family: "DMSansBold";
    margin-bottom: 30px;
}   
.newAuthor {
    margin: auto;
    margin-bottom: 30px;
} 
.fullHeight {
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.fullHeight p {
    padding-top: 200px;
    font-size: 2em;
}
.fullHeight button {
    width: 20%;
}

/******** Edit Library ********/

.image {
    height: 200px;
    width: auto;
}

/******** Edit Profile ********/

#profileContainer{
    background-color: white;
    height: 1000px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;  
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}
#profileInformation{
    margin: auto;
    margin-top: 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#accountBookInformation, .editAccount{
    margin: auto;
    margin-top: 0px;
    grid-column-start: 2;
    grid-column-end: 3;
}
#accountBookInformation {
    grid-row-start: 1;
    grid-row-end: 2;
}
.editAccount {
    grid-row-start: 2;
    grid-row-end: 3;
}
#editFirstName, #editSurname, #editUsername, #editEmail, #editPassword{
    display: none;
}
#editUserImage {
    display: none;
}
#editUserImage input{
    border: none;
}
#userImageContainer {
    background-color: #EC8F00;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
#userImageContainer img { 
    height: 200px;
    width: auto;  
    transform: translate(-50px, 0px);
}
#userProfileContainer button, .profileImg{
    border: none;
    height: 30px;
    width: 200px;
}
#userProfileContainer button, #changeImageButton {
    margin-bottom: 30px;
}
#userProfileContainer h4{
    font-family: "DMSansBold";
}
#userProfileContainer span, #accountsBookContainer h3 {
    font-family: "DMSansReg";
}
#accountsBookContainer {
    width: 100%;
    text-align: center; 
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#accountsBookContainer p {
    line-height: 2em;
    
}
#bookTitleOwn {
    text-align: left;
}
#due {
    text-align: center;
}
.profileBookTitle {
    grid-column-start: 1;
    grid-column-end: 2;
}
.profileBookDue {
    grid-column-start: 2;
    grid-column-end: 3;
}
.checkedOutTitle {
    margin-bottom: 20px;
}
.subtitle {
    margin-bottom: 10px;
}
#changeImageButton{
    margin-top: 20px;
    margin-bottom: 50px;
}
.userDetails {
    margin-bottom: 25px;
}
.userDetails h4 {
    margin-bottom: 10px; 
}
.bottomButton{
    margin-bottom: 10px;
}
.editProfileForm {
    width: 300px;
    display: grid;
    grid-template-columns: auto;
}
.editProfileForm label{
    margin: auto;
    font-size: 20px;
    margin-bottom: 10px;
}
.editProfileForm label, .editProfileForm input, .editProfileForm button{
    grid-column-start: 1;
    grid-column-end: 2;
}
.editProfileForm input {
    height: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #292929;
}

@media only screen and (max-width: 768px){
    #footerInfoContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        height: 80%;
        padding: 10px;
        margin-top: 30px;
    }
    #footerInfoContainer p {
        color: white;
        font-size: 0.7em;
        line-height: 1.5em;
    }
    .footerInfo {
        text-align: center;
        margin-bottom: 30px;
    }
   
    #footerInfoContainer h3 {
        font-family: "DMSansBold";
        margin-bottom: 20px;
    }
    #footerInfoContainer a {
        text-decoration: none;
    }
    #timesContainer {
        display: grid;
        width: 60%; 
        margin-right:30px;
        margin: auto;  
    }
    .verticalBreak {
        display: none;
    }
    #social{
        margin-top: 10px;
    }
    #loginPage {
        display : block;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    #loginContainer{
        margin: auto;
        width: 100%;
    }
    #loginTitle{
        width: 80%;
    }
    #loginImageContainer{
        text-align: center;
    }
    #loginImage {
        width: 40%;  
    }
    #newMemberContainer{
        transform: translate(0px, 200px);
    }
    #loginCancel {
        margin-bottom: 50px;
    }
    /******* New account *******/
    
    #newAccountContainer {
        background-color: white;
        width: 80%;
        margin:auto;
        margin-top: 400px;
        transform: translate(0%);
    }
    #newAccountContainer h2 {
        margin-bottom: 5%;
    }
    
    /******** Header ********/

    #headerContainer {
        display: block;
        margin: 0px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .allowance {
        width: 100%;
        text-align: center;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px 5px 0px 0px;
        margin: auto;   
        box-shadow: none;   
        transform: translate(0px, 14px);       
    }
    #headerTitles {
        margin-left: 0%;
        margin: auto;
        display: grid;
        text-align: center;
        justify-items: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        width: 100%;      
    }
    #headerTitles div, #headerTitles form{
        margin-top: 25px;
        height: auto;
    }
    /******** search ********/
    .searchDatabaseContainer {
        display: block;
        height: auto;
        padding: 10px;  
        width: auto;
    }
    .searchDatabaseContainer form {
        width: 90%;
        margin: auto;
        margin: 10px;      
    }  
    .organiseSearch {
        width: 80%;  
    }
    .sortContainer{
        margin-right: 10%;
        margin-left: 10%;
     }
     .searchTable {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% 45% 15% 15% 15%;
        height: auto;
        padding: 5%;
        width: 90%;
        margin: auto;
    }
    .bookImage {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .bookSearchButton {
        width: 80%;
        margin: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .bookSearchGenre, .bookSearchAge, .bookSearchCheckedin {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: auto;
    }
    .bookSearchGenre {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .bookSearchAge{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .bookSearchCheckedin{
        grid-row-start: 5;
        grid-row-end: 6;
    }
    /******** Author Search ********/
    .authorSearchTable{
        width: 90%;
        height: 400px; 
        margin: auto;   
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 30% 40% auto;
        grid-template-rows: 10% 10% 10% auto 10%;   
    }   
    .authorBio {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /******** Author Books ********/
    .authorsBookContainer{
        width: 95%;
    }
    /******** Add book ********/
    #addBookFormContainer, #authorFormContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    /******** Search User ********/
    .searchUserTable {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 3;
    }
    .searchUserTable td {
        font-size: 20px;
    }
    .selectedUserHeading th, .selectedUserHeading h4{
        font-size: 12px;
        display: flex;
    }
    .userTitlesContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }
    .coloumnOne {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .coloumnTwo {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .coloumnThree {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #selectUser, #payUserFine, #selectUserUsername {
        height: 20px;
        margin: 20px;
    }
    .searchUserContainer th, .selectUserTable th{
        display: none;
    }
    .authorsBookContainerTitle{
        font-size: 20px;
    }
    .authorsBookContainer h4 {
        margin-bottom: 20px;
    }
    .authorBookInfoRow td{
        font-size: 12px;
    }
    .addButtonForm {
        width: 50%;
    } 
    .cartTable {
        display: flex;
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }
    .loginButtons {
        width: 200px;
    }
    
    /******** events ********/
    .events {
        text-align: left;
        height: auto;
        display: block;

    }
    .events h2 {
        margin-bottom: 30px;
    }
    .events h2, .events h3, .events p {
        margin-top: 30px;
    }
    body {
        position: relative;
    }
    
    #footerContainer {
        position: absolute;
    }
    #profileContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 200px auto;
        height: auto;
        overflow:scroll;
    }
    #profileInformation {
        grid-row-start: 1;
        grid-row-end: 2; 
        margin-bottom: 60px;
    }
    #userEdit {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: #EC8F00;
        margin-bottom: 30px;
        height: 250px;
        width: auto;
        border-radius: 10px;  
        margin-bottom: 40px;    
    }
    #userEdit div {
        padding: 10px;
    }
    #accountBookInformation{
        margin-top: 150px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
@media only screen and (max-width: 550px){

    #newAccountContainer {      
        margin-top: 250px;
    }
    #footerInfoContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        height: 80%;
        padding: 10px;
    
    }
    .footer {
 
        margin-top: 50px;
    } 


    /******** search ********/
    
    .organiseSearch {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
    }
    .sortContainer {
        margin: auto;
    }
    .searchTable {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 5% 26% 60% auto auto auto auto auto;
        width: 90%;
        margin: auto;
    }
    .bookSearchTitle {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .bookImage {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .searchTable form {
        width: 100%;
        margin: auto;
    }
    .bookSearchButton {
        display: inline-flex;
        width: 80%;
        margin: auto;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 7;
    }
    .bookSearchGenre, .bookSearchAge, .bookSearchCheckedin {
        grid-row-start: 4;
        grid-row-end: 5;
        margin: auto;
    }
    .bookSearchGenre {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .bookSearchAge{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .bookSearchCheckedin{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .bookSearchAbout {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .horzontalBreak {
        grid-row-start: 8;
        grid-row-end: 9;
        margin-top: 100px;
    }
    /******** search User ********/
    .searchUserTable td {
        font-size: 10px;
    }
    .selectUserTable th {
        display: block;
    }
    .coloumnOne, .coloumnTwo, .coloumnThree {
        font-size: 10px;
    }
    #profileContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 200px auto;
        height: auto;
        overflow:scroll;
    }
    #profileInformation {
        grid-row-start: 1;
        grid-row-end: 2; 
        margin-bottom: 60px;
    }
    #userEdit {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: #EC8F00;
        margin-bottom: 30px;
        height: 250px;
        width: auto;
        border-radius: 10px;  
        margin-bottom: 40px;    
    }
    #userEdit div {
        padding: 10px;
    }
    #accountBookInformation{
        margin-top: 60px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }


     /******** Author Books ********/
    .authorsBookContainerTitle{
        font-size: 15px;
    }
    .authorBookTitles, .searchUserContainer th{
        display: none;      
    }  
    .authorBookInfoRow td{
        font-size: 10px;
    }
    .addButtonForm {
        width: 50%;
    } 

      /******** Author Search ********/
    .authorSearchTable{
        width: 90%;
        height: 800px;; 
        margin: auto;   
        display: grid;
        grid-gap: 0%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 3% 30% 3% 3% auto 3%;
    }    
    .authorImage{
        width: 60%;
        flex-shrink: 0;
        height: auto;
        border-radius: 5px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: auto;     
    }
    .authorImageConatainer{
        text-align: center;
    }
    .authorName, .authorButtons, .authorAge, .authorGenre, .authorBio{
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: left;
        padding-left: 0px;
    } 
    .authorName {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .authorButtons {
        grid-row-start: 3;
        grid-row-end: 4;
    } 
    .authorAge{
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .authorGenre{
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .authorBio{
        grid-row-start: 6;
        grid-row-end: 7;       
        padding: 0px;
        margin-bottom: 10px;
        margin-right: 0px;
        -o-transition: 1s;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -webkit-transition: 1s;
        transition: 1s;  
    }
    .authorHrBreak {
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .authorEditButtons {
        height: 45px;
    }
    
}

