/*
    ******* COLORS ********

#810000	- RED
#420e07	- DARK RED 
#002907	- GREEN 
#ec8f00	- YELLOW
#292929 - GREY

1 - GENERAL STYLING
2 - HEADER AND FOOTER
3 - LOGIN PAGE
4 - NEW MEMBER LOGIN

******** GENERAL STYLING ********/
* {
    margin: 0px;
}
.pageContainer {
    position: relative;
    min-height: 100vh;
  }
.mainContainer {
    padding-bottom: 100px;    /* Footer height */
}

/******** HEADER AND FOOTER ********/

#headerContainer, #footerContainer {
    background-color: #EC8F00;
    height: 100px;
}
#headerContainer img {
    height: 200px;
    width: auto;
}
#footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;  
}   

/******** LOGIN PAGE *******/

#memberContainer, #staffContainer, #newMemberContainer{
    display: none;
}

/******** NEW MEMBER LOGIN ********/


/******** Edit Library ********/

.image {
    height: 200px;
    width: auto;
}

