/*
    ******* COLORS ********

#810000	- RED
#420e07	- DARK RED 
#002907	- GREEN 
#ec8f00	- YELLOW
#292929 - GREY

1 - GENERAL STYLING
2 - HEADER AND FOOTER
3 - LOGIN PAGE
4 - NEW MEMBER LOGIN

    ******** GENERAL STYLING ********/
* {
    margin: 0px;
}


    /******** HEADER AND FOOTER ********/

#headerContainer, #footerContainer {
    background-color: #810000;
    height: 100px;
}


    /******** LOGIN PAGE *******/

#memberContainer, #staffContainer, #newMemberContainer{
    display: none;
}

    /******** NEW MEMBER LOGIN ********/

